<form name="newHospitalForm" ng-submit="processForm(newHospitalForm)">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Quick Create New Hospital Form</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="hospital.Name">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Address</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-labeled btn-success m-1">
            <span class="btn-label">
                <i class="fa fa-check-circle"></i>
            </span>
            Save
        </button>
        <button type="button" class="btn btn-labeled btn-danger m-1" ng-click="cancel()">
            <span class="btn-label">
                <i class="fa fa-ban"></i>
            </span>
            Cancel
        </button>
    </div>
</form>
