<div class="sidebar-header pt-3">
    <img class="img-fluid" src="../../img/logo.png" alt="profile">
</div>
<div class="row">
    <div class="col-md-12">
        <h5 class="text-center font-weight-bold">BAM BROTHERS</h5>
    </div>
    <div class="col-md-12">
        <h5 class="text-center font-weight-bold">UNDERTAKERS</h5>
    </div>
</div>
<ul class="metismenu list-unstyled components">
    <li class="">
        <a class="btn-block" ui-sref="listfuneral" ui-sref-active="link-active">
            <i class="fas fa-chevron-circle-right"></i>
            <span class="sidebar-nav-item"> Funerals</span>
        </a>
    </li>
    <li>
        <a class="btn-block" ui-sref-active="link-active" data-toggle="collapse" data-target="#people" aria-expanded="false" aria-controls="people">
            <i class="fas fa-chevron-circle-right"></i>
            <span class="sidebar-nav-item">People</span>
        </a>
        <ul class="collapse list-unstyled" id="people">
            <li><a ui-sref="listdeceased">Deceased</a></li>
            <li><a ui-sref="listinformant">Informant</a></li>
            <li><a ui-sref="listnextofkin">Next of Kin</a></li>
            <li><a ui-sref="listdoctor">Doctor</a></li>
            <li><a ui-sref="listhomeaffairsofficer">Home Affairs Officer</a></li>
        </ul>
    </li>
    <li>
        <a class="btn-block" ui-sref="listmember" ui-sref-active="link-active">
            <i class="fas fa-chevron-circle-right"></i>
            <span class="sidebar-nav-item"> Members</span>
        </a>
    </li>
    <li>
        <a class="btn-block" ui-sref="listmember" ui-sref-active="link-active">
            <i class="fas fa-chevron-circle-right"></i>
            <span class="sidebar-nav-item"> Suppliers</span>
        </a>
    </li>
</ul>

