<div class="sidebar-header pt-3">
    <img class="img-fluid" src="../../img/cross.svg" alt="profile">
</div>
<div class="row">
    <div class="col-md-12">
        <h5 class="text-center font-weight-bold">F M S</h5>
    </div>
</div>
<ul class="metismenu list-unstyled components">
    <li class="">
        <a class="btn-block" ui-sref="listfuneral" ui-sref-active="link-active">
            <i class="fas fa-chevron-circle-right"></i>
            <span class="sidebar-nav-item"> Funerals</span>
        </a>
        <a class="btn-block" ui-sref="listmember" ui-sref-active="link-active">
            <i class="fas fa-chevron-circle-right"></i>
            <span class="sidebar-nav-item"> Members</span>
        </a>
        <a class="btn-block" ui-sref="hello" ui-sref-active="link-active">
            <i class="fas fa-chevron-circle-right"></i>
            <span class="sidebar-nav-item"> Suppliers</span>
        </a>
    </li>
</ul>

