<div class="sidebar-header pt-3">
    <img class="img-fluid" src="../../img/logo.png" alt="profile">
</div>
<div class="row">
    <div class="col-md-12">
        <h5 class="text-center font-weight-bold">BAM BROTHERS</h5>
    </div>
    <div class="col-md-12">
        <h5 class="text-center font-weight-bold">UNDERTAKERS</h5>
    </div>
</div>
<ul class="metismenu list-unstyled components">
    <li class="">
        <a class="btn-block" ui-sref="listfuneral" ui-sref-active="link-active">
            <i class="fas fa-chevron-circle-right"></i>
            <span class="sidebar-nav-item"> Funerals</span>
        </a>
    </li>
    <li>
        <a class="btn-block" ui-sref-active="link-active" ng-click="collapseExpand('People')">
            <i class="fas fa-chevron-circle-right" ng-show="!getTabByName('People').Show"></i>
            <i class="fas fa-chevron-circle-down" ng-show="getTabByName('People').Show"></i>
            <span class="sidebar-nav-item">People</span>
        </a>
        <ul class="list-unstyled" ng-show="getTabByName('People').Show">
            <li><a ui-sref="listdeceased" ui-sref-active="link-active">Deceased</a></li>
            <li><a ui-sref="listinformant" ui-sref-active="link-active">Informant</a></li>
            <li><a ui-sref="listnextofkin" ui-sref-active="link-active">Next of Kin</a></li>
            <li><a ui-sref="listdoctor" ui-sref-active="link-active">Doctor</a></li>
            <li><a ui-sref="listhomeaffairsofficer" ui-sref-active="link-active">Home Affairs Officer</a></li>
            <li><a ui-sref="listsupplier" ui-sref-active="link-active">Suppliers</a></li>
        </ul>
    </li>
    <li>
        <a class="btn-block" ui-sref="listmember" ui-sref-active="link-active">
            <i class="fas fa-chevron-circle-right"></i>
            <span class="sidebar-nav-item"> Members</span>
        </a>
    </li>
    <li>
        <a class="btn-block" ui-sref-active="link-active" ng-click="collapseExpand('Places')">
            <i class="fas fa-chevron-circle-right" ng-show="!getTabByName('Places').Show"></i>
            <i class="fas fa-chevron-circle-down" ng-show="getTabByName('Places').Show"></i>
            <span class="sidebar-nav-item">Places</span>
        </a>
        <ul class="list-unstyled" ng-show="getTabByName('Places').Show">
            <li><a ui-sref="listhospital" ui-sref-active="link-active">Hospitals</a></li>
            <li><a ui-sref="listhomeaffairsoffice" ui-sref-active="link-active">Home Affairs Offices</a></li>
            <li><a ui-sref="listmortuary" ui-sref-active="link-active">Mortuaries</a></li>
            <li><a ui-sref="listcemetery" ui-sref-active="link-active">Cemeteries</a></li>
        </ul>
    </li>
</ul>

