<div class="row m-1">
    <div class="col-md-12 bg-white p-3">
        <div class="float-left">
            <h3 class="text-muted font-weight-bold">LIST OF DOCTORS</h3>
        </div>
        <div class="float-right">
            <button type="button" class="btn btn-primary" ng-click="edit()">
                <i class="fas fa-pencil-alt"></i>
                Edit
            </button>
        </div>
    </div>
</div>
<div class="row m-1">
    <div class="col-md-12 bg-white p-1">
        <div class="card border-light">
            <div class="card-header bg-white">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col"></th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Contact Number</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Hospital</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in records"
                                ng-click="toggleSelection(record)"
                                ng-dblclick="edit(record)"
                                ng-class="{ 'table-primary' : record.Selected }">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td scope="row">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="{{ record.Id }}"
                                               ng-model="record.Selected"
                                               ng-change="selectRecord(record)">
                                        <label class="custom-control-label" for="{{ record.Id }}"></label>
                                    </div>
                                </td>
                                <td>
                                    {{ record.FirstName }} {{ record.LastName }}
                                </td>
                                <td>
                                    {{ record.GenderName }}
                                </td>
                                <td>
                                    {{ record.ContactNumber }}
                                </td>
                                <td>
                                    {{ record.EmailAddress }}
                                </td>
                                <td>
                                    {{ record.HospitalName }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>
    </div>
</div>

