<form name="form" ng-submit="processForm(form)" novalidate>
    <div class="row m-1">
        <div class="col-md-12 bg-white">
            <div class="float-left p-4">
                <h3 class="text-muted font-weight-bold">VIEW/EDIT HOME AFFAIRS OFFICER'S FORM</h3>
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-md-12 bg-white p-1">
            <div class="float-left">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-md-12 bg-white p-1">
            <div class="card border-light">
                <div class="card-header bg-white">
                    <div class="float-left">
                        <a class="text-muted font-weight-bold">
                            <div class="btn btn-light">
                                <i class="fas fa-braille"></i>
                            </div>
                            General Information
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label class="">First name</label>
                            <input type="text" class="form-control" ng-model="record.FirstName" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="">Last name</label>
                            <input type="text" class="form-control" ng-model="record.LastName" />
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>Gender</label>
                            <div class="custom-controls-stacked d-block">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="deceasedGenderMale" name="deceasedGender" class="custom-control-input" value="1" ng-model="record.GenderId">
                                    <label class="custom-control-label" for="deceasedGenderMale">Male</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="deceasedGenderFemale" name="deceasedGender" class="custom-control-input" value="2" ng-model="record.GenderId">
                                    <label class="custom-control-label" for="deceasedGenderFemale">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Contact Number</label>
                            <input type="text" class="form-control" ng-model="record.ContactNumber">
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>EmailAddress</label>
                            <input type="text" class="form-control" ng-model="record.EmailAddress">
                        </div>
                    </div>
                    <!--<div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>Officer</label>
                            <input type="text" class="form-control" ng-model="record.RelationshipToDeceased">
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-md-12 bg-white p-1">
            <div class="float-left">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</form>