
<form name="form" ng-submit="processForm(form)" novalidate>
    <div class="row m-1">
        <div class="col-md-12 bg-white">
            <div class="float-left p-4">
                <h3 class="text-muted font-weight-bold">VIEW/EDIT HOME AFFAIRS OFFICER'S FORM</h3>
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-md-12 bg-white p-1">
            <div class="float-left">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i>
                    Save
                </button>
                <button type="button" class="btn btn-danger" ng-click="Delete()">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                </button>
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-md-12 bg-white p-1">
            <div class="card border-light">
                <div class="card-header bg-white" ng-click="collapseExpand('Person')">
                    <div class="float-left">
                        <a class="text-muted font-weight-bold">
                            <div class="btn btn-light">
                                <i class="fas fa-angle-up" ng-show="getTabByName('Person').Show"></i>
                                <i class="fas fa-angle-down" ng-show="!getTabByName('Person').Show"></i>
                            </div>
                            General Information
                        </a>
                    </div>
                </div>
                <div class="card-body" ng-show="getTabByName('Person').Show">
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>First name</label> <span ng-if="record.LastName.length > 0" class="required"></span>
                            <input type="text" class="form-control"
                                   name="record_FirstName"
                                   ng-model="record.FirstName"
                                   ng-required="record.LastName.length > 0"
                                   ng-class="{ 'is-invalid' : form.record_FirstName.$invalid && formHasBeenSubmitted }" />
                            <div class="text-danger" ng-show="form.record_FirstName.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.record_FirstName.$error.required">Please provide a value</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last name</label> <span ng-if="record.FirstName.length > 0" class="required"></span>
                            <input type="text" class="form-control"
                                   name="record_LastName"
                                   ng-model="record.LastName"
                                   ng-required="record.FirstName.length > 0"
                                   ng-class="{ 'is-invalid' : form.record_LastName.$invalid && formHasBeenSubmitted }" />
                            <div class="text-danger" ng-show="form.record_LastName.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.record_LastName.$error.required">Please provide a value</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>Gender</label> <span ng-if="record.FirstName.length > 0 || record.LastName.length > 0" class="required"></span>
                            <div class="custom-controls-stacked d-block">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="recordGenderMale"
                                           name="record_Gender"
                                           class="custom-control-input"
                                           value="1"
                                           ng-model="record.GenderId"
                                           ng-required="record.FirstName.length > 0 || record.LastName.length > 0"
                                           ng-class="{ 'is-invalid' : form.record_Gender.$invalid && formHasBeenSubmitted }" />
                                    <label class="custom-control-label" for="recordGenderMale">Male</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="recordGenderFemale"
                                           name="record_Gender"
                                           class="custom-control-input"
                                           value="2"
                                           ng-model="record.GenderId"
                                           ng-required="record.FirstName.length > 0 || record.LastName.length > 0"
                                           ng-class="{ 'is-invalid' : form.record_Gender.$invalid && formHasBeenSubmitted }" />
                                    <label class="custom-control-label" for="recordGenderFemale">Female</label>
                                </div>
                            </div>
                            <div class="text-danger" ng-show="form.record_Gender.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.record_Gender.$error.required">Please provide a value</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Contact number</label> <span ng-if="record.FirstName.length > 0 || record.LastName.length > 0" class="required"></span>
                            <input type="text"
                                   class="form-control"
                                   name="record_ContactNumber"
                                   ng-model="record.ContactNumber"
                                   ng-required="record.FirstName.length > 0 || record.LastName.length > 0"
                                   ng-class="{ 'is-invalid' : form.record_ContactNumber.$invalid && formHasBeenSubmitted }" />
                            <div class="text-danger" ng-show="form.record_ContactNumber.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.record_ContactNumber.$error.required">Please provide a value</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>Email Address</label>
                            <input type="email"
                                   class="form-control"
                                   name="record_EmailAddress"
                                   ng-model="record.EmailAddress"
                                   ng-class="{ 'is-invalid' : form.record_EmailAddress.$invalid && formHasBeenSubmitted }" />
                            <div class="text-danger" ng-show="form.record_EmailAddress.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.record_EmailAddress.$error.required">Please provide a value</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-md-12 bg-white p-1">
            <div class="card border-light">
                <div class="card-header bg-white" ng-click="collapseExpand('HomeAffairsOfficer')">
                    <div class="float-left">
                        <a class="text-muted font-weight-bold">
                            <div class="btn btn-light">
                                <i class="fas fa-angle-up" ng-show="getTabByName('HomeAffairsOfficer').Show"></i>
                                <i class="fas fa-angle-down" ng-show="!getTabByName('HomeAffairsOfficer').Show"></i>
                            </div>
                            Home Affairs Officer's Information
                        </a>
                    </div>
                </div>
                <div class="card-body" ng-show="getTabByName('HomeAffairsOfficer').Show">
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label class="">Office</label> <span class="required"></span>
                            <div class="input-group mb-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="record.HomeAffairsOfficeName"
                                       ng-class="{ 'is-invalid' : form.record_HomeAffairsOfficer.$invalid && formHasBeenSubmitted }"
                                       ng-disabled="true" />
                                <input type="hidden"
                                       name="record_HomeAffairsOfficer"
                                       ng-model="record.HomeAffairsOfficeId"
                                       ng-required="true" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" ng-click="clearLookupInput('homeAffairsOffice')">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    <button class="btn btn-outline-secondary"
                                            type="button"
                                            ng-disabled="!record.HomeAffairsOfficeId.length"
                                            ng-click="getHomeAffairsOffice(record.HomeAffairsOfficeId)">
                                        <i class="fas fa-external-link-alt"></i>
                                    </button>
                                    <button class="btn btn-outline-secondary" type="button" ng-click="getHomeAffairsOffices()">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="text-danger" ng-show="form.record_Hospital.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.record_Hospital.$error.required">Please provide a value</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-md-12 bg-white p-1">
            <div class="float-left">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</form>