<div class="card m-1">
    <div class="card-header bg-darkblue text-white" data-toggle="collapse" data-target="#step1" aria-expanded="false" aria-controls="step1">
        <strong>New Funeral Form</strong>
    </div>
    <div class="card-body show" id="step1">
        <form>
            <div class="form-row m-1">
                <h4>Deceased Information</h4>
            </div>
            <div class="card-body border-left border-primary">
                <div class="form-row m-2">
                    <div class="form-group col-md-6">
                        <label>Deceased Last name</label>
                        <input type="text" class="form-control" ng-model="deceased.LastName">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Deceased First name</label>
                        <input type="text" class="form-control" ng-model="deceased.FirstName">
                    </div>
                </div>
                <div class="form-row m-2">
                    <div class="form-group col-md-6">
                        <label>Deceased ID Number </label>
                        <input type="text" class="form-control" ng-model="deceased.SAIdNumber">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCity">Date of death</label>

                        <div class="input-group mb-3" id="datetimepicker4" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4" ng-model="deceased.DateOfBirth" />
                            <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                <button class="btn btn-outline-secondary" type="button" >
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker4').datetimepicker({
                                    format: 'L'
                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="form-row m-2">
                    <div class="form-group col-md-6">
                        <label>Gender</label>
                        <div class="custom-controls-stacked d-block">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="genderMale" name="gender" class="custom-control-input" value="1" ng-model="deceased.GenderId">
                                <label class="custom-control-label" for="genderMale">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="genderFemale" name="gender" class="custom-control-input" value="2" ng-model="deceased.GenderId">
                                <label class="custom-control-label" for="genderFemale">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>The body of the deceased was retrieved from</label>
                        <div class="custom-controls-stacked d-block">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="hospital" name="placeOfDeath" class="custom-control-input" value="1" ng-model="funeral.WhereWasTheBodyRetrieved">
                                <label class="custom-control-label" for="hospital">Hospital</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="mortuary" name="placeOfDeath" class="custom-control-input" value="2" ng-model="funeral.WhereWasTheBodyRetrieved">
                                <label class="custom-control-label" for="mortuary">Home</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="other" name="placeOfDeath" class="custom-control-input" value="3" ng-model="funeral.WhereWasTheBodyRetrieved">
                                <label class="custom-control-label" for="other">Other</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row m-2">
                    <div class="form-group col-md-12">
                        <label for="inputCity">Address of Deceased</label>
                        <input type="text" class="form-control" ng-model="deceased.FullAddress">
                    </div>
                </div>
                <div class="form-row m-2">
                    <div class="form-group col-md-12">
                        <label for="inputCity">Place of Death</label>
                        <input type="text" class="form-control" ng-model="deceased.PlaceOfDeath">
                    </div>
                </div>
                <div class="form-row m-2">
                    <div class="form-group col-md-12">
                        <label for="inputCity">Cause of Death</label>
                        <textarea class="form-control" ng-model="deceased.CauseOfDeath"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-row m-1">
                <h4>Informant</h4>
            </div>
            <div class="card-body border-left border-primary">
                <div class="form-row m-2">
                    <div class="form-group col-md-6">
                        <label>First name</label>
                        <input type="text" class="form-control" ng-model="informant.FirstName">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Last name</label>
                        <input type="text" class="form-control" ng-model="informant.LastName">
                    </div>
                </div>
                <div class="form-row m-2">
                    <div class="form-group col-md-6">
                        <label>Contact number</label>
                        <input type="text" class="form-control" ng-model="informant.ContactNumber">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Relationshipt to deceased</label>
                        <input type="text" class="form-control" ng-model="informant.RelationshipToDeceased">
                    </div>
                </div>
            </div>
            <div class="form-row m-1">
                <h4>Next of Kin</h4>
            </div>
            <div class="card-body border-left border-primary">
                <div class="form-row m-2">
                    <div class="form-group col-md-6">
                        <label>First name</label>
                        <input type="text" class="form-control" ng-model="nextOfKin.FirstName">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Last name</label>
                        <input type="text" class="form-control" ng-model="nextOfKin.LastName">
                    </div>
                </div>
                <div class="form-row m-2">
                    <div class="form-group col-md-6">
                        <label>Contact number</label>
                        <input type="text" class="form-control" ng-model="nextOfKin.ContactNumber">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Relationshipt to deceased</label>
                        <input type="text" class="form-control" ng-model="nextOfKin.RelationshipToDeceased">
                    </div>
                </div>
            </div>
            <div class="form-row m-1">
                <h4>Doctor Verifying Death</h4>
            </div>
            <div class="card-body border-left border-primary">
                <div class="form-row m-2">
                    <div class="form-group col-md-6">
                        <label>First name</label>
                        <input type="text" class="form-control" ng-model="doctor.FirstName">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Last name</label>
                        <input type="text" class="form-control" ng-model="doctor.LastName">
                    </div>
                </div>
                <div class="form-row m-2">
                    <div class="form-group col-md-6">
                        <label>Contact number</label>
                        <input type="text" class="form-control" ng-model="doctor.ContactNumber">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCity">Name of Hospital in Which Death Was Confirmed</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" ng-click="getHospitals()">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" ng-model="doctor.HospitalId" />
                    </div>
                </div>
            </div>
            <div class="form-row m-1">
                <h4>Home Affairs Officer</h4>
            </div>
            <div class="card-body border-left border-primary">
                <div class="form-row m-2">
                    <div class="form-group col-md-6">
                        <label>First name</label>
                        <input type="text" class="form-control" ng-model="homeAffairesOfficer.FirstName">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Last name</label>
                        <input type="text" class="form-control" ng-model="homeAffairesOfficer.LastName">
                    </div>
                </div>
                <div class="form-row m-2">
                    <div class="form-group col-md-6">
                        <label>Contact number</label>
                        <input type="text" class="form-control" ng-model="homeAffairesOfficer.ContactNumber">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
