<form name="form" ng-submit="processForm(form)" novalidate>
    <div class="row m-1">
        <div class="col-md-12 bg-white">
            <div class="float-left p-4">
                <h3 class="text-muted font-weight-bold">NEW FUNERAL FORM</h3>
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-md-12 bg-white p-1">
            <div class="float-left">
                <div ng-include="'/components/shared/createview-topbar-buttons.html'"></div>
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-md-12 bg-white p-1" ng-click="collapseExpand('BeforeMortuary')">
            <div class="card-header">
                <a class="text-muted font-weight-bold">
                    <div class="btn btn-light">
                        <i class="fas fa-angle-up" ng-show="getTabByName('BeforeMortuary').Show"></i>
                        <i class="fas fa-angle-down" ng-show="!getTabByName('BeforeMortuary').Show"></i>
                    </div>
                    1. BEFORE MORTUARY
                </a>
            </div>
        </div>
    </div>
    <div class="row m-1" ng-show="getTabByName('BeforeMortuary').Show">
        <div class="col-md-12 bg-white p-1">
            <div class="card border-light">
                <div class="card-header bg-white" ng-click="collapseExpand('Deceased')">
                    <div class="float-left">
                        <a class="text-muted font-weight-bold">
                            <div class="btn btn-light">
                                <i class="fas fa-angle-up" ng-show="getTabByName('Deceased').Show"></i>
                                <i class="fas fa-angle-down" ng-show="!getTabByName('Deceased').Show"></i>
                            </div>
                            Deceased
                        </a>
                    </div>
                </div>
                <div class="card-body" ng-show="getTabByName('Deceased').Show">
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>First name</label> <span class="required"></span>
                            <input type="text"
                                   name="deceased_FirstName"
                                   class="form-control"
                                   ng-model="deceased.FirstName"
                                   ng-required="true"
                                   ng-minlength="2"
                                   ng-maxlength="75"
                                   limit-to="75"
                                   ng-class="{ 'is-invalid' : form.deceased_FirstName.$invalid && formHasBeenSubmitted }" />
                            <div class="text-danger" ng-show="form.deceased_FirstName.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.deceased_FirstName.$error.required">Please provide a value</span>
                                <span ng-if="form.deceased_FirstName.$error.minlength">Value must be contain at lease 2 letters.</span>
                                <span ng-if="form.deceased_FirstName.$error.maxlength">Value must be contain at most 75 letters</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last name</label> <span class="required"></span>
                            <input type="text"
                                   name="deceased_LastName"
                                   class="form-control"
                                   ng-model="deceased.LastName"
                                   ng-required="true"
                                   ng-minlength="2"
                                   ng-maxlength="75"
                                   limit-to="75"
                                   ng-class="{ 'is-invalid' : form.deceased_LastName.$invalid && formHasBeenSubmitted }" />
                            <div class="text-danger" ng-show="form.deceased_LastName.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.deceased_LastName.$error.required">Please provide a value</span>
                                <span ng-if="form.deceased_LastName.$error.minlength">Value must be contain at lease 2 letters.</span>
                                <span ng-if="form.deceased_LastName.$error.maxlength">Value must be contain at most 75 letters</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>ID Number </label> <span class="required"></span>
                            <input type="text"
                                   class="form-control"
                                   name="deceased_SAIdNumber"
                                   ng-model="deceased.SAIdNumber"
                                   ng-change="OnChange_SAIdNumber('deceased', deceased.SAIdNumber)"
                                   ng-minlength="13"
                                   ng-maxlength="13"
                                   limit-to="13"
                                   ng-required="true"
                                   ng-class="{ 'is-invalid' : form.deceased_SAIdNumber.$invalid && formHasBeenSubmitted }" />
                            <div class="text-danger" ng-show="form.deceased_SAIdNumber.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.deceased_SAIdNumber.$error.required">Please provide a value</span>
                                <span ng-if="form.deceased_SAIdNumber.$error.minlength">Value must be 13 digits long.</span>
                                <span ng-if="form.deceased_SAIdNumber.$error.maxlength">Value must be 13 digits long.</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Birthday</label> <span class="required"></span> 
                            <div class="row">
                                <div class="col-sm">
                                    <input type="number"
                                           class="form-control"
                                           placeholder="Year"
                                           name="deceasedDOB_Year"
                                           ng-model="deceasedDOB.Year"
                                           ng-change="OnChange_Year('deceasedDOB', deceasedDOB.Year)"
                                           ng-required="true"
                                           ng-min="1900"
                                           ng-max="{{ currentYear }}"
                                           ng-minlength="4"
                                           ng-maxlength="4"
                                           limit-to="4"
                                           ng-class="{ 'is-invalid' : form.deceasedDOB_Year.$invalid && formHasBeenSubmitted }">
                                    <small class="form-text text-muted ml-2">Year</small>
                                </div>
                                <div class="col-sm">
                                    <input type="number"
                                           class="form-control"
                                           placeholder="Month"
                                           name="deceasedDOB_Month"
                                           ng-model="deceasedDOB.Month"
                                           ng-required="true"
                                           ng-disabled="!deceasedDOB.Year"
                                           ng-change="OnChange_Month('deceasedDOB', deceasedDOB.Month)"
                                           ng-min="1"
                                           ng-max="12"
                                           ng-minlength="1"
                                           ng-maxlength="2"
                                           limit-to="2"
                                           ng-class="{ 'is-invalid' : form.deceasedDOB_Month.$invalid && formHasBeenSubmitted }">
                                    <small class="form-text text-muted ml-2">Month</small>
                                </div>
                                <div class="col-sm">
                                    <input type="number"
                                           class="form-control"
                                           placeholder="Day"
                                           name="deceasedDOB_Day"
                                           ng-model="deceasedDOB.Day"
                                           ng-required="true"
                                           ng-disabled="!deceasedDOB.Year || !deceasedDOB.Month"
                                           ng-min="1"
                                           ng-max="{{ GetLastDayOfMonth(deceasedDOB.Year, deceasedDOB.Month) }}"
                                           ng-minlength="1"
                                           ng-maxlength="2"
                                           limit-to="2"
                                           ng-class="{ 'is-invalid' : form.deceasedDOB_Day.$invalid && formHasBeenSubmitted }">
                                    <small class="form-text text-muted ml-2">Day</small>
                                </div>
                            </div>
                            <div class="row text-danger" ng-show="(form.deceasedDOB_Year.$invalid && formHasBeenSubmitted) || (form.deceasedDOB_Month.$invalid && formHasBeenSubmitted) || (form.deceasedDOB_Day.$invalid && formHasBeenSubmitted)">
                                <span class="col-md-12" ng-if="form.deceasedDOB_Year.$error.required">Please fill out the year block (1st block)</span>
                                <span class="col-md-12" ng-if="form.deceasedDOB_Year.$error.ngMin || form.deceasedDOB_Year.$error.ngMax">Year value must be between than 1830 and {{ currentYear }}</span>

                                <span class="col-md-12" ng-if="form.deceasedDOB_Month.$error.required">Please fill out the month block (2nd block)</span>
                                <span class="col-md-12" ng-if="form.deceasedDOB_Month.$error.ngMin || form.deceasedDOB_Month.$error.ngMax">Month value must be between 1 and 12</span>

                                <span class="col-md-12" ng-if="form.deceasedDOB_Day.$error.required">Please fill out the day block (3rd block)</span>
                                <span class="col-md-12" ng-if="form.deceasedDOB_Day.$error.ngMin || form.deceasedDOB_Day.$error.ngMax">Day value must be between 1 and {{ GetLastDayOfMonth(deceasedDOB.Year, deceasedDOB.Month) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>Gender</label> <span class="required"></span>
                            <div class="custom-controls-stacked d-block">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio"
                                           id="deceasedGenderMale"
                                           name="deceased_Gender"
                                           class="custom-control-input"
                                           value="1"
                                           ng-model="deceased.GenderId"
                                           ng-required="true"
                                           ng-class="{ 'is-invalid' : form.deceased_Gender.$invalid && formHasBeenSubmitted }" />
                                    <label class="custom-control-label" for="deceasedGenderMale">Male</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio"
                                           id="deceasedGenderFemale"
                                           name="deceased_Gender"
                                           class="custom-control-input"
                                           value="2"
                                           ng-model="deceased.GenderId"
                                           ng-required="true"
                                           ng-class="{ 'is-invalid' : form.deceased_Gender.$invalid && formHasBeenSubmitted }" />
                                    <label class="custom-control-label" for="deceasedGenderFemale">Female</label>
                                </div>
                            </div>
                            <div class="text-danger" ng-show="form.deceased_Gender.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.deceased_Gender.$error.required">Please provide a value</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>The body of the deceased was retrieved from</label> <span class="required"></span>
                            <div class="custom-controls-stacked d-block">
                                <div class="custom-control custom-radio custom-control-inline"> 
                                    <input type="radio"
                                           id="hospital"
                                           name="placeOfDeath"
                                           class="custom-control-input"
                                           value="Hospital"
                                           ng-model="deceased.WhereWasTheBodyRetrieved"
                                           ng-required="true" />
                                    <label class="custom-control-label" for="hospital">Hospital</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" 
                                           id="mortuary" 
                                           name="placeOfDeath" 
                                           class="custom-control-input" 
                                           value="Home" 
                                           ng-model="deceased.WhereWasTheBodyRetrieved"
                                           ng-required="true" />
                                    <label class="custom-control-label" for="mortuary">Home</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" 
                                           id="other" 
                                           name="placeOfDeath" 
                                           class="custom-control-input" 
                                           value="Other" 
                                           ng-model="deceased.WhereWasTheBodyRetrieved"
                                           ng-required="true" />
                                    <label class="custom-control-label" for="other">Other</label>
                                </div>
                            </div>
                            <div class="text-danger" ng-show="form.placeOfDeath.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.placeOfDeath.$error.required">Please provide a value</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>Date of death</label> <span class="required"></span>
                            <div class="row">
                                <div class="col-sm">
                                    <input type="number"
                                           class="form-control"
                                           placeholder="Year"
                                           name="deceasedDOD_Year"
                                           ng-model="deceasedDOD.Year"
                                           ng-change="OnChange_Year('deceasedDOD', deceasedDOD.Year)"
                                           ng-required="true"
                                           min="1900"
                                           max="{{ currentYear }}"
                                           ng-minlength="4"
                                           ng-maxlength="4"
                                           limit-to="4"
                                           ng-class="{ 'is-invalid' : form.deceasedDOD_Year.$invalid && formHasBeenSubmitted }">
                                    <small class="form-text text-muted ml-2">Year</small>
                                </div>
                                <div class="col-sm">
                                    <input type="number"
                                           class="form-control"
                                           placeholder="Month"
                                           name="deceasedDOD_Month"
                                           ng-model="deceasedDOD.Month"
                                           ng-disabled="!deceasedDOD.Year"
                                           ng-change="OnChange_Month('deceasedDOD', deceasedDOD.Month)"
                                           ng-required="true"
                                           min="1"
                                           max="12"
                                           ng-minlength="1"
                                           ng-maxlength="2"
                                           limit-to="2"
                                           ng-class="{ 'is-invalid' : form.deceasedDOD_Month.$invalid && formHasBeenSubmitted }">
                                    <small class="form-text text-muted ml-2">Month</small>
                                </div>
                                <div class="col-sm">
                                    <input type="number"
                                           class="form-control"
                                           placeholder="Day"
                                           name="deceasedDOD_Day"
                                           ng-model="deceasedDOD.Day"
                                           ng-required="true"
                                           ng-disabled="!deceasedDOD.Year || !deceasedDOD.Month"
                                           min="1"
                                           max="{{ GetLastDayOfMonth(deceasedDOD.Year, deceasedDOD.Month) }}"
                                           ng-minlength="1"
                                           ng-maxlength="2"
                                           limit-to="2"
                                           ng-class="{ 'is-invalid' : form.deceasedDOD_Day.$invalid && formHasBeenSubmitted }">
                                    <small class="form-text text-muted ml-2">Day</small>
                                </div>
                            </div>
                            <div class="row text-danger" ng-show="(form.deceasedDOD_Year.$invalid && formHasBeenSubmitted) || (form.deceasedDOD_Month.$invalid && formHasBeenSubmitted) || (form.deceasedDOD_Day.$invalid && formHasBeenSubmitted)">
                                <span class="col-md-12" ng-if="form.deceasedDOD_Year.$error.required">Please fill out the year block (1st block)</span>
                                <span class="col-md-12" ng-if="form.deceasedDOD_Year.$error.ngMin || form.deceasedDOD_Year.$error.ngMax">Year value must be between than 1830 and {{ currentYear }}</span>

                                <span class="col-md-12" ng-if="form.deceasedDOD_Month.$error.required">Please fill out the month block (2nd block)</span>
                                <span class="col-md-12" ng-if="form.deceasedDOD_Month.$error.ngMin || form.deceasedDOD_Month.$error.ngMax">Month value must be between 1 and 12</span>

                                <span class="col-md-12" ng-if="form.deceasedDOD_Day.$error.required">Please fill out the day block (3rd block)</span>
                                <span class="col-md-12" ng-if="form.deceasedDOD_Day.$error.ngMin || form.deceasedDOD_Day.$error.ngMax">Day value must be between 1 and {{ GetLastDayOfMonth(deceasedDOD.Year, deceasedDOD.Month) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-12">
                            <label>Address of Deceased</label>
                            <input type="text" class="form-control" ng-model="deceased.FullAddress">
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-12">
                            <label>Place of Death</label>
                            <input type="text" class="form-control" ng-model="deceased.PlaceOfDeath">
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-12">
                            <label>Cause of Death</label> <span class="required"></span>
                            <textarea class="form-control"
                                      name="deceased_CauseOfDeath"
                                      ng-model="deceased.CauseOfDeath"
                                      limit-to="4000"
                                      ng-required="true"
                                      ng-class="{ 'is-invalid' : form.deceased_CauseOfDeath.$invalid && formHasBeenSubmitted }">
                            </textarea>
                            <div class="text-danger" ng-show="form.deceased_CauseOfDeath.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.deceased_CauseOfDeath.$error.required">Please provide a value</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1" ng-show="getTabByName('BeforeMortuary').Show">
        <div class="col-md-12 bg-white p-1">
            <div class="card border-light">
                <div class="card-header bg-white" ng-click="collapseExpand('Informant')">
                    <div class="float-left">
                        <a class="text-muted font-weight-bold">
                            <div class="btn btn-light">
                                <i class="fas fa-angle-up" ng-show="getTabByName('Informant').Show"></i>
                                <i class="fas fa-angle-down" ng-show="!getTabByName('Informant').Show"></i>
                            </div>
                            Informant
                        </a>
                    </div>
                </div>
                <div class="card-body" ng-show="getTabByName('Informant').Show">
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>First name</label> <span ng-if="informant.LastName.length > 0" class="required"></span>
                            <input type="text" class="form-control"
                                   name="informant_FirstName"
                                   ng-model="informant.FirstName"
                                   ng-required="informant.LastName.length > 0"
                                   ng-class="{ 'is-invalid' : form.informant_FirstName.$invalid && formHasBeenSubmitted }" />
                            <div class="text-danger" ng-show="form.informant_FirstName.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.informant_FirstName.$error.required">Please provide a value</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last name</label> <span ng-if="informant.FirstName.length > 0" class="required"></span>
                            <input type="text" class="form-control"
                                   name="informant_LastName"
                                   ng-model="informant.LastName"
                                   ng-required="informant.FirstName.length > 0"
                                   ng-class="{ 'is-invalid' : form.informant_LastName.$invalid && formHasBeenSubmitted }" />
                            <div class="text-danger" ng-show="form.informant_LastName.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.informant_LastName.$error.required">Please provide a value</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>ID Number</label>
                            <input type="text" class="form-control"
                                   name="informant_SAIdNumber"
                                   ng-model="informant.SAIdNumber" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Gender</label> <span ng-if="informant.FirstName.length > 0 || informant.LastName.length > 0" class="required"></span>
                            <div class="custom-controls-stacked d-block">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="informantGenderMale"
                                           name="informant_Gender"
                                           class="custom-control-input"
                                           value="1"
                                           ng-model="informant.GenderId"
                                           ng-required="informant.FirstName.length > 0 || informant.LastName.length > 0"
                                           ng-class="{ 'is-invalid' : form.informant_Gender.$invalid && formHasBeenSubmitted }" />
                                    <label class="custom-control-label" for="informantGenderMale">Male</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="informantGenderFemale"
                                           name="informant_Gender"
                                           class="custom-control-input"
                                           value="2"
                                           ng-model="informant.GenderId"
                                           ng-required="informant.FirstName.length > 0 || informant.LastName.length > 0"
                                           ng-class="{ 'is-invalid' : form.informant_Gender.$invalid && formHasBeenSubmitted }" />
                                    <label class="custom-control-label" for="informantGenderFemale">Female</label>
                                </div>
                            </div>
                            <div class="text-danger" ng-show="form.informant_Gender.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.informant_Gender.$error.required">Please provide a value</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>Email Address</label>
                            <input type="text" class="form-control" ng-model="informant.EmailAddress">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Contact number</label>
                            <input type="text"
                                   class="form-control"
                                   name="informant_ContactNumber"
                                   ng-model="informant.ContactNumber"
                                   ng-required="informant.FirstName.length > 0 || informant.LastName.length > 0"
                                   ng-class="{ 'is-invalid' : form.informant_ContactNumber.$invalid && formHasBeenSubmitted }" />
                            <div class="text-danger" ng-show="form.informant_ContactNumber.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.informant_ContactNumber.$error.required">Please provide a value</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>Relationshipt to deceased</label> <span ng-if="informant.FirstName.length > 0 || informant.LastName.length > 0" class="required"></span>
                            <input type="text"
                                   class="form-control"
                                   name="informant_RelationshipToDeceased"
                                   ng-model="informant.RelationshipToDeceased"
                                   ng-required="informant.FirstName.length > 0 || informant.LastName.length > 0"
                                   ng-class="{ 'is-invalid' : form.informant_Gender.$invalid && formHasBeenSubmitted }" />
                            <div class="text-danger" ng-show="form.informant_Gender.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.informant_Gender.$error.required">Please provide a value</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1" ng-show="getTabByName('BeforeMortuary').Show">
        <div class="col-md-12 bg-white p-1">
            <div class="card border-light">
                <div class="card-header bg-white" ng-click="collapseExpand('NextOfKin')">
                    <div class="float-left">
                        <a class="text-muted font-weight-bold">
                            <div class="btn btn-light">
                                <i class="fas fa-angle-up" ng-show="getTabByName('NextOfKin').Show"></i>
                                <i class="fas fa-angle-down" ng-show="!getTabByName('NextOfKin').Show"></i>
                            </div>
                            Next of Kin
                        </a>
                    </div>
                </div>
                <div class="card-body" ng-show="getTabByName('NextOfKin').Show">
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="sameAsInformant" ng-model="sameAsInformant" ng-change="OnChange_SameAsInformant(sameAsInformant)">
                                <label class="custom-control-label" for="sameAsInformant">Same as Next Of Kin</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>First name</label> <span ng-if="nextOfKin.LastName.length > 0" class="required"></span>
                            <input type="text" class="form-control"
                                   name="nextOfKin_FirstName"
                                   ng-model="nextOfKin.FirstName"
                                   ng-required="nextOfKin.LastName.length > 0"
                                   ng-class="{ 'is-invalid' : form.nextOfKin_FirstName.$invalid && formHasBeenSubmitted }"/>
                            <div class="text-danger" ng-show="form.nextOfKin_FirstName.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.nextOfKin_FirstName.$error.required">Please provide a value</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last name</label> <span ng-if="nextOfKin.FirstName.length > 0" class="required"></span>
                            <input type="text" class="form-control"
                                   name="nextOfKin_LastName"
                                   ng-model="nextOfKin.LastName"
                                   ng-required="nextOfKin.FirstName.length > 0"
                                   ng-class="{ 'is-invalid' : form.nextOfKin_LastName.$invalid && formHasBeenSubmitted }"/>
                            <div class="text-danger" ng-show="form.nextOfKin_LastName.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.nextOfKin_LastName.$error.required">Please provide a value</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>ID Number</label> 
                            <input type="text" class="form-control"
                                   name="nextOfKin_SAIdNumber"
                                   ng-model="nextOfKin.SAIdNumber"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Gender</label> <span ng-if="nextOfKin.FirstName.length > 0 || nextOfKin.LastName.length > 0" class="required"></span>
                            <div class="custom-controls-stacked d-block">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="nextOfKinGenderMale"
                                           name="nextOfKin_Gender"
                                           class="custom-control-input"
                                           value="1"
                                           ng-model="nextOfKin.GenderId"
                                           ng-required="nextOfKin.FirstName.length > 0 || nextOfKin.LastName.length > 0"
                                           ng-class="{ 'is-invalid' : form.nextOfKin_Gender.$invalid && formHasBeenSubmitted }"/>
                                    <label class="custom-control-label" for="nextOfKinGenderMale">Male</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="nextOfKinGenderFemale"
                                           name="nextOfKin_Gender"
                                           class="custom-control-input"
                                           value="2"
                                           ng-model="nextOfKin.GenderId"
                                           ng-required="nextOfKin.FirstName.length > 0 || nextOfKin.LastName.length > 0"
                                           ng-class="{ 'is-invalid' : form.nextOfKin_Gender.$invalid && formHasBeenSubmitted }"/>
                                    <label class="custom-control-label" for="nextOfKinGenderFemale">Female</label>
                                </div>
                            </div>
                            <div class="text-danger" ng-show="form.nextOfKin_Gender.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.nextOfKin_Gender.$error.required">Please provide a value</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>Email Address</label>
                            <input type="text"
                                   class="form-control"
                                   name="nextOfKin_EmailAddress"
                                   ng-model="nextOfKin.EmailAddress">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Contact number</label>
                            <input type="text"
                                   class="form-control"
                                   name="nextOfKin_ContactNumber"
                                   ng-model="nextOfKin.ContactNumber"
                                   ng-required="nextOfKin.FirstName.length > 0 || nextOfKin.LastName.length > 0"
                                   ng-class="{ 'is-invalid' : form.nextOfKin_ContactNumber.$invalid && formHasBeenSubmitted }"/>
                            <div class="text-danger" ng-show="form.nextOfKin_ContactNumber.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.nextOfKin_ContactNumber.$error.required">Please provide a value</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>Relationshipt to deceased</label> <span ng-if="nextOfKin.FirstName.length > 0 || nextOfKin.LastName.length > 0" class="required"></span>
                            <input type="text"
                                   class="form-control"
                                   name="nextOfKin_RelationshipToDeceased"
                                   ng-model="nextOfKin.RelationshipToDeceased"
                                   ng-required="nextOfKin.FirstName.length > 0 || nextOfKin.LastName.length > 0"
                                   ng-class="{ 'is-invalid' : form.nextOfKin_Gender.$invalid && formHasBeenSubmitted }"/>
                            <div class="text-danger" ng-show="form.nextOfKin_Gender.$invalid && formHasBeenSubmitted">
                                <span ng-if="form.nextOfKin_Gender.$error.required">Please provide a value</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1" ng-show="getTabByName('BeforeMortuary').Show">
        <div class="col-md-12 bg-white p-1">
            <div class="card border-light">
                <div class="card-header bg-white" ng-click="collapseExpand('Doctor')">
                    <div class="float-left">
                        <a class="text-muted font-weight-bold">
                            <div class="btn btn-light">
                                <i class="fas fa-angle-up" ng-show="getTabByName('Doctor').Show"></i>
                                <i class="fas fa-angle-down" ng-show="!getTabByName('Doctor').Show"></i>
                            </div>
                            Doctor Verifying Death
                        </a>
                    </div>
                </div>
                <div class="card-body" ng-show="getTabByName('Doctor').Show">
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>Doctor's Full name</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" value="{{ doctor.FirstName}} {{ doctor.LastName }}" ng-disabled="true">
                                <input type="hidden" ng-model="funeral.DoctorId" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" ng-click="clearLookupInput('doctor')">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    <button class="btn btn-outline-secondary" type="button" ng-click="getDoctor(doctor.Id)">
                                        <i class="fas fa-external-link-alt"></i>
                                    </button>
                                    <button class="btn btn-outline-secondary" type="button" ng-click="getDoctors()">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1" ng-show="getTabByName('BeforeMortuary').Show">
        <div class="col-md-12 bg-white p-1">
            <div class="card border-light">
                <div class="card-header bg-white" ng-click="collapseExpand('HomeAffairsOfficer')">
                    <div class="float-left">
                        <a class="text-muted font-weight-bold">
                            <div class="btn btn-light">
                                <i class="fas fa-angle-up" ng-show="getTabByName('HomeAffairsOfficer').Show"></i>
                                <i class="fas fa-angle-down" ng-show="!getTabByName('HomeAffairsOfficer').Show"></i>
                            </div>
                            Home Affairs Officer
                        </a>
                    </div>
                </div>
                <div class="card-body" ng-show="getTabByName('HomeAffairsOfficer').Show">
                    <div class="form-row m-2">
                        <div class="form-group col-md-6">
                            <label>Home Affairs Officer's Full name</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" value="{{ homeAffairsOfficer.FirstName}} {{ homeAffairsOfficer.LastName }}" ng-disabled="true">
                                <input type="hidden" ng-model="funeral.HomeAffairsOfficerId" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" ng-click="clearLookupInput('homeAffairsOfficer')">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    <button class="btn btn-outline-secondary" type="button" ng-click="getHomeAffairsOfficer(homeAffairsOfficer.Id)">
                                        <i class="fas fa-external-link-alt"></i>
                                    </button>
                                    <button class="btn btn-outline-secondary" type="button" ng-click="getHomeAffairsOfficers()">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-md-12 bg-white p-1">
            <div class="float-left">
                <div ng-include="'/components/shared/createview-topbar-buttons.html'"></div>
            </div>
        </div>
    </div>
</form>