<div class="row m-1">
    <div class="col-md-12 bg-white p-3">
        <div class="float-left">
            <h3 class="text-muted font-weight-bold">LIST OF FUNERALS</h3>
        </div>
        <div class="float-right">
            <div ng-include="'/components/shared/listview-topbar-buttons.html'"></div>
        </div>
    </div>
</div>
<div class="row m-1">
    <div class="col-md-12 bg-white p-1">
        <div class="card border-light">
            <div class="card-header bg-white">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-fixed">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" style="width: 15px;">#</th>
                                <th scope="col" style="width: 15px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="all" ng-model="all" ng-change="selectAll(all)">
                                        <label class="custom-control-label" for="all"></label>
                                    </div>
                                </th>
                                <th scope="col">Funeral Number</th>
                                <th scope="col">Deceased's Full Name</th>
                                <th scope="col">Date of Death</th>
                                <th scope="col">Informant's Full Name</th>
                                <th scope="col">Next Of Kin's Full Name</th>
                                <th scope="col">Created On</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in records"
                                ng-click="toggleSelection(record)"
                                ng-dblclick="edit(record)"
                                ng-class="{ 'table-primary' : record.Selected }">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td scope="row">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                               id="{{ record.Id }}"
                                               ng-model="record.Selected"
                                               ng-change="selectRecord(record)">
                                        <label class="custom-control-label" for="{{ record.Id }}"></label>
                                    </div>
                                </td>
                                <td>{{ record.FuneralNumber }}</td>
                                <td>{{ record.DeceasedFullName }}</td>
                                <td>{{ record.DateOfDeath | jsonDate :'yyyy-MM-dd'}}</td>
                                <td>{{ record.InformantFullName }}</td>
                                <td>{{ record.NextOfKinFullName }}</td>
                                <td>{{ record.CreatedOn | jsonDate :'yyyy-MM-dd HH:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <button class="btn btn-secondary btn-sm" ng-click="startFromBegining()">
                                <i class="fas fa-step-backward"></i>
                            </button>
                        </label>
                        <label class="btn btn-secondary">
                            <button class="btn btn-secondary btn-sm" ng-click="previous()">
                                <i class="fas fa-caret-left"></i>
                            </button>
                        </label>
                        <label class="btn btn-secondary">
                            <button class="btn btn-secondary btn-sm">
                                Page {{ pageNumber }}
                            </button>
                        </label>
                        <label class="btn btn-secondary">
                            <button class="btn btn-secondary btn-sm" ng-click="next()">
                                <i class="fas fa-caret-right"></i>
                            </button>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

