<div class="card bg-white">
    <div class="card-header border-right-0 border-left-0">
        <ul class="nav nav-pills card-header-pills float-left">
            <li class="nav-item">
                <a class="nav-link font-weight-bold text-uppercase" href="#">Funerals</a>
            </li>
        </ul>
        <ul class="nav nav-pills card-header-pills float-right">
            <li class="nav-item">
                <a class="nav-link active mr-1" ui-sref="addfuneral"><i class="fa fa-plus-square"></i> New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active mr-1" ng-click="editRecord()"><i class="fa fa-pen-square"></i> Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active mr-1" href="#"><i class="fa fa-trash-alt"></i> Delete</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="all" ng-model="all">
                            <label class="custom-control-label" for="all"></label>
                        </div>
                    </th>
                    <th scope="col">Funeral Number</th>
                    <th scope="col">Deceased's Full Name</th>
                    <th scope="col">Date of Death</th>
                    <th scope="col">Informant's Full Name</th>
                    <th scope="col">Next Of Kin's Full Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in records" ng-dblclick="editRecord(record)">
                    <th scope="row">{{ $index + 1 }}</th>
                    <td scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="{{ record.Id }}"
                                   ng-model="record.Selected"
                                   ng-change="selectRecord(record)"
                                   ng-checked="all">
                            <label class="custom-control-label" for="{{ record.Id }}"></label>
                        </div>
                    </td>
                    <td>{{ record.FuneralNumber }}</td>
                    <td>{{ record.DeceasedFullName }}</td>
                    <td>{{ record.DateOfDeath | jsonDate :'yyyy-MM-dd'}}</td>
                    <td>{{ record.InformantFullName }}</td>
                    <td>{{ record.NextOfKinFullName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
