<div class="card bg-white">
    <div class="card-header border-right-0 border-left-0">
        <ul class="nav nav-pills card-header-pills float-left">
            <li class="nav-item">
                <a class="nav-link font-weight-bold text-uppercase" href="#">Funerals</a>
            </li>
        </ul>
        <ul class="nav nav-pills card-header-pills float-right">
            <li class="nav-item">
                <a class="nav-link active mr-1" ui-sref="addfuneral"><i class="fa fa-plus-square"></i> New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active mr-1" href="#"><i class="fa fa-pen-square"></i> Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active mr-1" href="#"><i class="fa fa-trash-alt"></i> Delete</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
